{% extends 'base.html' %} {% block content %}
<br />
<div align="right">
  <a href="/login/" class="btn btn-primary">Login</a>&nbsp;<a
    href="/logout/"
    class="btn btn-primary"
    >Logout</a
  >{% if request.user.is_authenticated %}&nbsp;<a
    href="/addticket/"
    class="btn btn-primary"
    >Create Ticket</a
  >{% endif %}
</div>
{% if request.user.is_authenticated %}
<h1>
  Welcome, you are logged in as
  <a href="user/{{ request.user.id }}/">{{ request.user.username }}</a>.
</h1>
<h2>New Tickets</h2>
{% if new_tickets %} {% for post in new_tickets %}
<p>
  <a href="ticket/{{ post.id }}/">{{ post.title }}</a>
</p>
{% endfor %} {% else %}
<p>There are no New Tickets to display.</p>
{% endif %}
<br />
<h2>Tickets In Progress</h2>
{% if progress_tickets%} {% for post in progress_tickets %}
<p>
  <a href="ticket/{{ post.id }}/">{{ post.title }}</a>
</p>
{% endfor %} {% else %}
<p>There are no Tickets In Progress to display.</p>
{% endif %}
<br />
<h2>Tickets Completed</h2>
{% if completed_tickets %} {% for post in completed_tickets %}
<p>
  <a href="ticket/{{ post.id }}/">{{ post.title }}</a>
</p>
{% endfor %} {% else %}
<p>There are no Completed Tickets to display.</p>
{% endif %}
<br />
<h2>Invalid Tickets</h2>
{% if invalid_tickets %} {% for post in invalid_tickets %}
<p>
  <a href="ticket/{{ post.id }}/">{{ post.title }}</a>
</p>
{% endfor %} {% else %}
<p>There are no Invalid Tickets to display.</p>
{% endif %}
<br />

{% else %}
<h2>Welcome, please <a href="/login/">login</a>.</h2>
{% endif %} {% endblock %}
