{% extends 'base.html' %} {% block content %}
<br />
<div align="right">
  <a href="/" class="btn btn-primary">Home</a>&nbsp;<a
    href="/login/"
    class="btn btn-primary"
    >Login</a
  >&nbsp;<a href="/logout/" class="btn btn-primary">Logout</a>
</div>
{% if not ticket %}
<h1>The ticket you are looking for does not exist.</h1>
{% else %}
<h2>{{ ticket.title }}</h2>
<h4>Description: {{ ticket.description }}</h4>
<h4>Created on: {{ ticket.post_date }}</h4>
<h4>
  Created by:
  <a href="/user/{{ ticket.user_filed.id }}/">{{ ticket.user_filed }}</a> anchor
  not going to user for
</h4>
<h4>Assigned to: {{ ticket.user_assigned }}</h4>
<h4>Completed by: {{ ticket.user_completed }}</h4>
{% endif %} {% endblock %}
