{% extends 'base.html' %} {% block content %}
<br />
<div align="right">
  <a href="/" class="btn btn-primary">Home</a>&nbsp;<a
    href="/login/"
    class="btn btn-primary"
    >Login</a
  >&nbsp;<a href="/logout/" class="btn btn-primary">Logout</a>&nbsp;<a
    href="/addticket/"
    class="btn btn-primary"
    >Create Ticket</a
  >
</div>
<h1>{{ selected_user }}</h1>

<div class="card" style="padding: 2px">
  <h2 class="card-header" style="background-color: #bbb; padding: 10px">
    Filed Tickets
  </h2>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" style="width: 55%">Title</th>
          <th scope="col">Assigned To</th>
          <th scope="col">Reported By</th>
          <th scope="col">Ticket Age</th>
        </tr>
      </thead>
      <tbody>
        {% if filed_tickets %} {% for post in filed_tickets %}
        <tr>
          <th scope="row">{{ post.id }}</th>
          <td><a href="/ticket/{{ post.id }}/">{{ post.title }}</a></td>
          <td>{{ post.user_assigned }}</td>
          <td>
            <a href="/user/{{ post.user_filed.id }}/">{{ post.user_filed }}</a>
          </td>
          <td>day(s)</td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <th scope="row"></th>
          <td><p>There are no Filed Tickets to display.</p></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<div class="card" style="padding: 2px">
  <h2 class="card-header" style="background-color: #bbb; padding: 10px">
    Assigned Tickets
  </h2>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" style="width: 55%">Title</th>
          <th scope="col">Assigned To</th>
          <th scope="col">Reported By</th>
          <th scope="col">Ticket Age</th>
        </tr>
      </thead>
      <tbody>
        {% if assigned_tickets %} {% for post in assigned_tickets %}
        <tr>
          <th scope="row">{{ post.id }}</th>
          <td><a href="/ticket/{{ post.id }}/">{{ post.title }}</a></td>
          <td>{{ post.user_assigned }}</td>
          <td>
            <a href="/user/{{ post.user_filed.id }}/">{{ post.user_filed }}</a>
          </td>
          <td>day(s)</td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <th scope="row"></th>
          <td><p>There are no Assigned Tickets to display.</p></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<div class="card" style="padding: 2px">
  <h2 class="card-header" style="background-color: #bbb; padding: 10px">
    Completed Tickets
  </h2>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" style="width: 55%">Title</th>
          <th scope="col">Assigned To</th>
          <th scope="col">Reported By</th>
          <th scope="col">Ticket Age</th>
        </tr>
      </thead>
      <tbody>
        {% if completed_tickets %} {% for post in completed_tickets %}
        <tr>
          <th scope="row">{{ post.id }}</th>
          <td><a href="/ticket/{{ post.id }}/">{{ post.title }}</a></td>
          <td>{{ post.user_assigned }}</td>
          <td>
            <a href="/user/{{ post.user_filed.id }}/">{{ post.user_filed }}</a>
          </td>
          <td>day(s)</td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <th scope="row"></th>
          <td><p>There are no Completed Tickets to display.</p></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
